* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/******************************* TRẠNG THÁI HOTLINE *******************************/
/********** QR_161 **********/
.ttt1 {
    position: absolute;
    top: 2%;
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.tt1 {
    font-weight: bold;
    position: absolute;
    /* -- */
    /* display: none; */
    /* -- */
    top: 2%;
    background-color: greenyellow;
    width: 150px;
    text-align: center;
    padding: 5px;
}

/********** QR_162 **********/
.ttt2 {
    font-weight: bold;
    position: absolute;
    top: 2%;
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 5px;
}

.tt2 {
    position: absolute;
    /* -- */
    display: none;
    /* -- */
    top: 2%;
    background-color: greenyellow;
    width: 150px;
    text-align: center;
    padding: 5px;
}

/********** QR_163 **********/
.ttt3 {
    position: absolute;
    top: 2%;
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.tt3 {
    position: absolute;
    /* -- */
    /* display: none;  */
    /* -- */
    top: 2%;
    background-color: greenyellow;
    font-weight: bold;
    width: 150px;
    text-align: center;
    padding: 5px;
}

/********** QR_164 **********/
.ttt4 {
    position: absolute;
    top: 2%;
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.tt4 {
    position: absolute;
    /* -- */
    display: none;
    /* -- */
    top: 2%;
    background-color: greenyellow;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

/********** QR_165 **********/
.ttt5 {
    position: absolute;
    top: 2%;
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.tt5 {
    position: absolute;
    /* -- */
    display: none;
    /* -- */
    top: 2%;
    background-color: greenyellow;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

/********** QR_166 **********/
.ttt6 {
    position: absolute;
    top: 2%;
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.tt6 {
    position: absolute;
    /* -- */
    display: none;
    /* -- */
    top: 2%;
    background-color: greenyellow;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

/********** QR_167 **********/
.ttt7 {
    position: absolute;
    top: 2%;
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.tt7 {
    position: absolute;
    /* -- */
    display: none;
    /* -- */
    top: 2%;
    background-color: greenyellow;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

/********** QR_168 **********/
.ttt8 {
    position: absolute;
    top: 2%;
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.tt8 {
    position: absolute;
    /* -- */
    display: none;
    /* -- */
    top: 2%;
    background-color: greenyellow;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

/********** QR_169 **********/
.ttt9 {
    position: absolute;
    top: 2%;
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.tt9 {
    position: absolute;
    /* -- */
    /* display: none; */
    /* -- */
    top: 2%;
    background-color: greenyellow;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

/******************************* END ******************************/
/* CSS để làm cho trang web fullscreen */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url(./z5362398173367_bf3c9322ac3a76b469c308400ab72a5c-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid blue;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h1 {
    text-align: center;
    margin: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
    padding: 5px;
}

.logo img {
    border-radius: 50%;
}

.icon {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.qr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 20px;
    gap: 30px;
}

.qr .qr-it {
    position: relative;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.qr .qr-it .qr-img {
    width: 100%;
    height: 300px;
    padding: 10px;
}

.qr .qr-it .qr-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    /* display: none; */
}

.qr-name {
    text-align: center;
    font-size: 20px;
    padding: 5px;
    line-height: 26px;
}

/* dong ho */
.dongho {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: transparent;
    background: -webkit-linear-gradient(240deg, #ec1d25, #0d296b);
    background: linear-gradient(-150deg, #ec1d25, #0d296b);
    background-clip: text;
}

.cuoi {
    text-align: center;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    color: white;
}

.icon_zalo {
    width: 85px;
    height: 85px;
    position: fixed;
    z-index: 999;
    top: 80%;
    right: 0;
    transition: 0.5s ease;
}

.icon_zalo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.icon_zalo:hover::after {
    content: "Chat";
    color: rgb(17, 198, 62);
    font-size: 22px;
}

.icon_zalo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* đăng xuất */
.dangxuat {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 40px 0;
}

.dangxuat-it {
    position: relative;
    width: 200px;
    height: 400px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.dangxuat-it img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    margin: 40px;
    text-align: center;
}

.buoc {
    position: absolute;
    top: 50%;
    z-index: 100;
    background-color: #32CD32;
    font-size: 18px;
    color: white;
    text-align: center;
    width: 100px;
    font-weight: bold;
    padding: 10px;
}

.tonghop {
    width: 100%;
    height: 200px;
}

.tonghop img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#welcome-message {
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 100;
}

#welcome-message h2 {
    margin-top: 0;
}

#welcome-message button {
    margin-top: 20px;
    width: 100px;
    font-size: 18px;
}

.of {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://www.bing.com/th/id/OGC.ed7c443d6d6d829e933f60ab4e8e6ed9?pid=1.7&rurl=https%3a%2f%2ftoigingiuvedep.vn%2fwp-content%2fuploads%2f2022%2f04%2fhinh-anh-gif-dep.gif&ehk=KohfR82xlW6hNtkPx3Q1XASgWTkMSzELdQVohEzErEs%3d);
}

.of1 body {
    width: 90%;
}

.of1 {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://th.bing.com/th/id/R.5309ac7c892b81f06e3e1ad94f30845b?rik=9XlN6Mw9wmoI9A&pid=ImgRaw&r=0);
}

.of p {
    text-align: center;
    color: transparent;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-clip: text;
}

.of1 p {
    color: transparent;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    display: flex;
    text-align: center;
    background-clip: text;
}
/* hiệu ứng */
/* dần dần */
/* #hudd {
    opacity: 0;
    animation: hudd 5s forwards;
}

@keyframes hudd {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */